<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title - O Ficha Técnica</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/TelaDetalhes.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EfeitosHover.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/octicons.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="~/TelaInicial/TelaInicial"> <img src="~/Content/Image/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Projeto/CadastroProjeto">Cadastro de Projeto</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="search" method="get" action="@Url.Action("MembroBusca", "Membro")">
                            <div class="input-group">
                                <input type="text" class="form-control autocomplete" id="NomeMembro" placeholder="Nome do Membro" name="Nome">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="btnProcurar" name="Membros" value="Procurar">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    @if(Session["USUARIO_LOGADO"] != null)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="sair-dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Sair", "Login")">Sair</a></li>                             
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - O Ficha Técnica</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/showdown.min.js"></script>
    <script>
        var user = @Html.Raw(Json.Encode(Session["USUARIO_LOGADO"]));
        $('#sair-dropdown').text(user.Nome);
    </script>
    @RenderSection("Scripts", false)

    @section Scripts {
        <script>
            $("document").ready(function () {

                $("#NomeMembro").autocomplete({
                    minLength: 3,
                    source: '@Url.Action("MembroAutoComplete", "Membro")',
                    select: function () { $("#btnProcurar").click(); }
                });
                $(".ui-helper-hidden-accessible").remove();
            });
        </script>
    }
</body>
</html>