@model FichaTecnica.Models.DetalheMembroModel

@{
ViewBag.Title = "FichaMembro";
}

<style>

    .excluir-comentario {
        text-decoration: none !important;
        font-size: 30px;
        display: block;
        position: absolute;
        right: 0%;
        top: 2%;
        width: 32px;
        height: 32px;
    }

</style>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erro!</strong> @TempData["Mensagem"]
    </div>
}



<div class="row">
	<div class="col-md-2 img-membro">
		<img src="~/Upload/img/@Model.Foto" alt="..." class="img-thumbnail">
	</div>
    <h4>Ficha Técnica de</h4>
    <h2>@Model.Nome</h2>
</div>

<div class="row">
    <div class="col-md-4 membro-dados">
        <h3>Dados Pessoais</h3>
        <p>@Model.Email</p>
        <p>
            Fone - @if (Model.Telefone != null) { @Model.Telefone; }
        </p>
        <p>@Model.Cargo</p>
        <p>@Model.DataDeNascimento.Date.ToString("dd/MM/yyyy") - @Model.Idade anos</p>
        <p>Criação @Model.DataCriacao.Date.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="col-md-4 membro-projetos">
        <h3>Projetos</h3>

    </div>
    <div class="col-md-4 membro-qualificacao">
        <h3>Qualificação</h3>
        <h5>Média: <span id="media-commits"></span> commits / dia</h5>
        <p>Comentários</p>
        <div class="tag-comentario positivo"></div>
        <div class="total-positivo" id="total-positivo">0</div>
        <div class="tag-comentario negativo"></div>
        <div class="total-negativo" id="total-negativo">0</div>
    </div>
</div>
<div class="hr-membro top20"></div>
<div class="row top20">
    <h2>Últimos Commits</h2>
    <table class="table table-bordered table-hover" >
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody id="commit-list">

        </tbody>
    </table>
</div>
<div class="hr-membro top20"></div>

<div class="row top20">
    <h2>Comentários</h2>
    <form action="/Membro/AdicionarComentario" method="POST" accept-charset="utf-8">

        <div class="form-group col-md-3">
            <label>Assunto:</label>
            <input class="form-control" type="text" name="assunto" value="">
        </div>
        <div class="form-group col-md-3 col-md-offset-3">
            <label>Tipo:</label>
            <select class="form-control" name="tipo">
                <option>Selecione</option>
                <option value="0">Positivo</option>
                <option value="2">Negativo</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label>Projeto:</label>
            <select class="form-control" name="idProjeto" id="projetos">
                <option>Selecione</option>
            </select>
        </div>

        <span class="octicon octicon-markdown"></span>
        <div class="form-group col-md-12">
            <label>Comentário:</label>
            <textarea class="form-control" style="min-width: 100%" name="texto"></textarea>
        </div>

        <input hidden="hidden" type="text" name="idMembro" value=@Model.Id>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-custom pull-right">Adicionar</button>
            </div>
        </div>
    </form>

    <div class="col-md-12 comentarios">
        <div id="comentarios" class="row">
        
        </div>
    </div>

</div>


<div class="row top30" >
	<div class="col-md-3 dados-membro">

        <div class="bloco-comentario">

            <h3>Commits</h3>

                <div id="commits">

                </div>

            <h5>Média: <span id="media-commits"></span> commits / dia</h5>
         </div>
        </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var model = @Html.Raw(Json.Encode(Model));
        var user = @Html.Raw(Json.Encode(Session["USUARIO_LOGADO"]));
        var id = model.Id.toString();
        var comments = model.Comentarios;
        var gitInfo = model.LinksGithub;
        var username = gitInfo.Links[0].URL.split('/')[1];
        var repos = [], projetos = [], commitList = [];

    </script>

    <script src="~/Scripts/comment-access.js"></script>
    <script src="~/Scripts/projects-access.js"></script>
    <script src="~/Scripts/github-api-access.js"></script>
}