@model FichaTecnica.Models.DetalheMembroModel

@{
ViewBag.Title = "FichaMembro";
}

<style>

    .excluir-comentario {
        text-decoration: none !important;
        font-size: 30px;
        display: block;
        position: absolute;
        right: 0%;
        top: 2%;
        width: 32px;
        height: 32px;
    }

</style>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erro!</strong> @TempData["Mensagem"]
    </div>
}

<h2>Ficha Técnica do @Model.Nome</h2>

<div class="row">
	<div class="col-md-2 col-md-offset-5 img-membro">
		<img src="~/Upload/img/@Model.Foto" alt="..." class="img-circle">
	</div>
</div>

<div class="row top30" >
	<div class="col-md-9 comentarios">
		<div id="comentarios" class="row">

		</div>
	</div>
	<div class="col-md-3 dados-membro">
		<h2>@Model.Nome</h2>
        <div>
            <h3 style="width: 100px; display: inline-block; color:green;" id="total-positivo">0</h3>
            <div class="tag-comentario positivo"></div>
        </div>
        <div style="padding-bottom: 4px;">
            <h3 style="width: 100px; display: inline-block; color:red;" id="total-negativo">0</h3>
            <div class="tag-comentario negativo"></div>
        </div>
		<p>@Model.Email</p>
		<p>
			Fone - @if (Model.Telefone != null) { @Model.Telefone; }
		</p>
		<p>@Model.Cargo</p>
		<p>@Model.DataDeNascimento.Date.ToString("dd/MM/yyyy") - @Model.Idade anos</p>
		<p>Projeto Renner</p>
		<p>Criação @Model.DataCriacao.Date.ToString("dd/MM/yyyy")</p>

        <div class="bloco-comentario">

            <h3>Commits</h3>

                <div id="commits">

                </div>

            <h5>Média: <span id="media-commits"></span> commits / dia</h5>
         </div>
            <div class="form-comentario">
                <h3>Adicionar Comentário</h3>

                <form action="/Membro/AdicionarComentario" method="POST" accept-charset="utf-8">

                    <div class="form-group">
                        <label>Assunto:</label>
                        <input class="form-control" type="text" name="assunto" value="">
                    </div>
                    <span class="octicon octicon-markdown"></span>
                    <div class="form-group">
                        <label>Comentário:</label>
                        <textarea class="form-control" name="texto"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tipo:</label>
                        <select class="form-control" name="tipo">
                            <option>Selecione</option>
                            <option value="0">Positivo</option>
                            <option value="2">Negativo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Projeto:</label>
                        <select class="form-control" name="idProjeto" id="projetos">
                            <option>Selecione</option>
                        </select>
                    </div>

                    <input hidden="hidden" type="text" name="idMembro" value=@Model.Id>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var model = @Html.Raw(Json.Encode(Model));
        var user = @Html.Raw(Json.Encode(Session["USUARIO_LOGADO"]));
        var id = model.Id.toString();
        var comments = model.Comentarios;
        var gitInfo = model.LinksGithub;
        var username = gitInfo.Links[0].URL.split('/')[1];
        var repos = [], projetos = [], commitList = [];

    </script>

    <script src="~/Scripts/comment-access.js"></script>
    <script src="~/Scripts/projects-access.js"></script>
    <script src="~/Scripts/github-api-access.js"></script>
}