@model FichaTecnica.Models.DetalheMembroModel

@{
ViewBag.Title = "FichaMembro";
}

<h2>Ficha Técnica do @Model.Nome</h2>

<div class="row">
	<div class="col-md-2 col-md-offset-5 img-membro">
		<img src="~/Upload/img/@Model.Foto" alt="..." class="img-circle">
	</div>
</div>

<div class="row top30" >
	<div class="col-md-9 comentarios">
		<div class="row">
			<div class="bloco-comentario">
				<div class="tag-comentario positivo"></div>
				<h4>Assunto do Comentário</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Goku - 15/12/2015</p>
			</div>
			<div class="bloco-comentario">
				<div class="tag-comentario negativo"></div>
				<h4>Assunto do Comentário</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Goku - 15/12/2015</p>
			</div>
			<div class="bloco-comentario">
				<div class="tag-comentario positivo"></div>
				<h4>Assunto do Comentário</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Goku - 15/12/2015</p>
			</div>
			<div class="bloco-comentario">
				<div class="tag-comentario positivo"></div>
				<h4>Assunto do Comentário</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in scelerisque neque. Nullam molestie nisl nec vulputate posuere. In eleifend consequat tortor in egestas. Phasellus sit amet sem nec mi ultrices ornare in quis elit. Suspendisse potenti. Proin a orci urna. </p>
				<p>Goku - 15/12/2015</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 dados-membro">
		<h2>@Model.Nome</h2>
		<p>@Model.Email</p>
		<p>
			Fone - @if (Model.Telefone != null) { @Model.Telefone; }
		</p>
		<p>@Model.Cargo</p>
		<p>@Model.DataDeNascimento.Date.ToString("dd/MM/yyyy") - @Model.Idade anos</p>
		<p>Projeto Renner</p>
		<p>Criação @Model.DataCriacao.Date.ToString("dd/MM/yyyy")</p>

        <div id="commits">
            
        </div>
		
		<h5>Média de 5 commits diários</h5>
		<div class="form-comentario">
			<h3>Adicionar Comentário</h3>

            <form action="/Membro/AdicionarComentario" method="POST" accept-charset="utf-8">

                <div class="form-group">
                    <label>Assunto:</label>
                    <input class="form-control" type="text" name="assunto" value="">
                </div>
                <div class="form-group">
                    <label>Comentário:</label>
                    <textarea class="form-control" name="texto"></textarea>
                </div>
                <div class="form-group">
                    <label>Tipo:</label>
                    <select class="form-control" name="tipo">
                        <option value="0">Positivo</option>
                        <option value="2">Negativo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Projeto:</label>
                    <select class="form-control" name="idProjeto" id="projetos">
                    </select>
                </div>

                <input hidden="hidden" type="text" name="idMembro" value=@Model.Id>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>		
		</div>
	</div>
</div>

@section Scripts {
    <script type="text/javascript">

        var model = @Html.Raw(Json.Encode(Model.LinksGithub));
        var commitList = [];
        var projetos = [];

        model.Links.forEach(function(l) {
            $.get(model.URLBaseAPI + l.URL + 'commits')
                .done(function (response) {
                    response.forEach(function (i) {
                        commitList.push({ sha: i.sha.slice(0, 7), date: new Date(i.commit.author.date).getTime(), message: i.commit.message, link: i.html_url })
                    })
                })
        })

        $.get('http://localhost:54173/Membro/ProjetoAutocomplete')
            .done(function(response) { 
                response.forEach(function(i) { 
                    projetos.push(i)
                }) 
            })

        //TODO: refactor meio alternativo sem setTimeout

        setTimeout(function(){
            commitList.sort(function (left, right) { return left.date < right.date })
            commitList = commitList.slice(0, 3);

            commitList.forEach(function(commit) {
                $('#commits')
                    .append($('<div class="bloco-commit">')
                        .append($('<p>')
                            .append($('<a>').html(commit.sha).attr('href', commit.link))
                            .append($('<p>').html(commit.message)))
                )
            }) 

            projetos.forEach(function(projeto) {
                $('#projetos')
                    .append($('<option>').html(projeto.label).attr('value', projeto.value))
                    .attr('name', 'idProjeto')
            })

        }, 1000);

        

    </script>
}