@model FichaTecnica.Models.DetalheMembroModel

@{
ViewBag.Title = "FichaMembro";
}

<style>

    .excluir-comentario {
        display: block;
        position: absolute;
        right: 50px;
        top: 5px;
        width: 32px;
        height: 32px;
    }

</style>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erro!</strong> @TempData["Mensagem"]
    </div>
}

<h2>Ficha Técnica do @Model.Nome</h2>

<div class="row">
	<div class="col-md-2 col-md-offset-5 img-membro">
		<img src="~/Upload/img/@Model.Foto" alt="..." class="img-circle">
	</div>
</div>

<div class="row top30" >
	<div class="col-md-9 comentarios">
		<div id="comentarios" class="row">

		</div>
	</div>
	<div class="col-md-3 dados-membro">
		<h2>@Model.Nome</h2>
        <h3 style="color:green;" id="total-positivo">0</h3>
        <h3 style="color:red;" id="total-negativo">0</h3>
		<p>@Model.Email</p>
		<p>
			Fone - @if (Model.Telefone != null) { @Model.Telefone; }
		</p>
		<p>@Model.Cargo</p>
		<p>@Model.DataDeNascimento.Date.ToString("dd/MM/yyyy") - @Model.Idade anos</p>
		<p>Projeto Renner</p>
		<p>Criação @Model.DataCriacao.Date.ToString("dd/MM/yyyy")</p>

        <div class="bloco-comentario">

            <h3>Commits</h3>

                <div id="commits">

                </div>

            <h5>Média: <span id="media-commits"></span> commits / dia</h5>
         </div>
            <div class="form-comentario">
                <h3>Adicionar Comentário</h3>

                <form action="/Membro/AdicionarComentario" method="POST" accept-charset="utf-8">

                    <div class="form-group">
                        <label>Assunto:</label>
                        <input class="form-control" type="text" name="assunto" value="">
                    </div>
                    <span class="octicon octicon-markdown"></span>
                    <div class="form-group">
                        <label>Comentário:</label>
                        <textarea class="form-control" name="texto"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tipo:</label>
                        <select class="form-control" name="tipo">
                            <option>Selecione</option>
                            <option value="0">Positivo</option>
                            <option value="2">Negativo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Projeto:</label>
                        <select class="form-control" name="idProjeto" id="projetos">
                            <option>Selecione</option>
                        </select>
                    </div>

                    <input hidden="hidden" type="text" name="idMembro" value=@Model.Id>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var user = @Html.Raw(Json.Encode(Session["USUARIO_LOGADO"]));
        var id = @Html.Raw(Json.Encode(Model.Id)).ToString();
        var comments = @Html.Raw(Json.Encode(Model.Comentarios));
        var gitInfo = @Html.Raw(Json.Encode(Model.LinksGithub));
        var converter = new showdown.Converter();
        var localStorageCommits = localStorage.getItem('latestCommits'.concat(id));
        var username = gitInfo.Links[0].URL.split('/')[1];
        var commitList = [];
        var projetos = [];
        var repos = [];

        gitInfo.Links.forEach(function(link) { repos.push(link.URL)})

        if(localStorageCommits == null) {

            var totalCommits = 0;
            var days = [];

            $.get('https://api.github.com/users/' + username + '/events?page=1')
                    .done(function (response) {
                        response.forEach(function(r) {

                            if(r.type == 'PushEvent') {

                                if(!days.includes(r.created_at.slice(0, 10))) {
                                    days.push(r.created_at.slice(0, 10));
                                }
                            
                                totalCommits += r.payload.commits.length;

                                if(repos.includes('/' + r.repo.name + '/')) {
                                    r.payload.commits.forEach(function(commit) { commitList.push(commit)})                      
                                }
                            }
                        })
                    }).always(function() {                  
                        localStorage.setItem('avgCommits'.concat(id), totalCommits / days.length);
                    })

          
        }
        else {
            commitList = JSON.parse(localStorageCommits);
        }

        $.get('http://localhost:54173/Membro/ProjetoAutocomplete')
            .done(function(response) {
                response.forEach(function(i) {
                    projetos.push(i)
                })
            })

        //TODO: refactor meio alternativo sem setTimeout

        setTimeout(function(){
            commitList.sort(function (left, right) { return left.date < right.date })
            commitList = commitList.slice(0, 3);
            localStorage.setItem('latestCommits'.concat(id), JSON.stringify(commitList));

            $('#media-commits').html(localStorage.getItem('avgCommits'.concat(id)));

            commitList.forEach(function(commit) {
                $('#commits')
                    .append($('<div class="bloco-commit">')
                        .append($('<p>')
                            .append($('<a>').html(commit.sha.slice(0, 8)).attr('href', commit.url))
                            .append($('<p>').html(commit.message)))
                )
            })

            projetos.forEach(function(projeto) {
                $('#projetos')
                    .append($('<option>').html(projeto.label).attr('value', projeto.value))
                    .attr('name', 'idProjeto')
            })

        }, 1000);

        var positiveTotal = 0;
        var negativeTotal = 0;

        function extractDate(date) { 
            return date.match(/\d+/)[0];
        }

        comments.sort(function(left, right) { 
            return extractDate(left.DataCriacao) < extractDate(right.DataCriacao) 
        })

        comments.forEach(function(comment) {

            if(comment.Estado != 0) {
                return;
            }
            var typeTag;
            var deleteOption = '';

            if(user != null) {
                deleteOption = user.Id == comment.IdUsuario? '<a href="../ExcluirComentario/' + comment.Id + '" class="Excluir-comentario">&times;</a>' : '';
            }

            if(comment.Tipo == 0) { 
                typeTag = '<div class="tag-comentario positivo">';
                positiveTotal = positiveTotal + 1;
                $('#total-positivo').text(positiveTotal);
            }
            else {
                typeTag = '<div class="tag-comentario negativo">';
                negativeTotal = negativeTotal + 1;
                $('#total-negativo').text(negativeTotal);
            }

            $('#comentarios')
                  .append($('<div class="bloco-comentario">')
                    .append($(typeTag))                  
                    .append($('<h4>').text(comment.Assunto + ' - ' + comment.Projeto.Nome))
                    .append($(converter.makeHtml(comment.Texto)))
                    .append($(deleteOption))
                    )
        })

        setTimeout(function() {
            localStorage.clear();
        }, 1000 * 60 * 10) 

    </script>
}