@model FichaTecnica.Models.DetalheMembroModel

@{
ViewBag.Title = "FichaMembro";
}

<h2>Ficha Técnica do @Model.Nome</h2>

<div class="row">
	<div class="col-md-2 col-md-offset-5 img-membro">
		<img src="~/Upload/img/@Model.Foto" alt="..." class="img-circle">
	</div>
</div>

<div class="row top30" >
	<div class="col-md-9 comentarios">
		<div id="comentarios" class="row">

		</div>
	</div>
	<div class="col-md-3 dados-membro">
		<h2>@Model.Nome</h2>
		<p>@Model.Email</p>
		<p>
			Fone - @if (Model.Telefone != null) { @Model.Telefone; }
		</p>
		<p>@Model.Cargo</p>
		<p>@Model.DataDeNascimento.Date.ToString("dd/MM/yyyy") - @Model.Idade anos</p>
		<p>Projeto Renner</p>
		<p>Criação @Model.DataCriacao.Date.ToString("dd/MM/yyyy")</p>

        <div id="commits">
            
        </div>
		
		<h5>Média: <span id="media-commits"></span> commits / dia</h5>
		<div class="form-comentario">
			<h3>Adicionar Comentário</h3>

            <form action="/Membro/AdicionarComentario" method="POST" accept-charset="utf-8">

                <div class="form-group">
                    <label>Assunto:</label>
                    <input class="form-control" type="text" name="assunto" value="">
                </div>
                <div class="form-group">
                    <label>Comentário:</label>
                    <textarea class="form-control" name="texto"></textarea>
                </div>
                <div class="form-group">
                    <label>Tipo:</label>
                    <select class="form-control" name="tipo">
                        <option value="0">Positivo</option>
                        <option value="2">Negativo</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Projeto:</label>
                    <select class="form-control" name="idProjeto" id="projetos">
                    </select>
                </div>

                <input hidden="hidden" type="text" name="idMembro" value=@Model.Id>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>		
		</div>
	</div>
</div>

@section Scripts {
    <script type="text/javascript">

        var id = @Html.Raw(Json.Encode(Model.Id)).ToString();
        var comments = @Html.Raw(Json.Encode(Model.Comentarios));
        var gitInfo = @Html.Raw(Json.Encode(Model.LinksGithub));
        var converter = new showdown.Converter();
        var localStorageCommits = localStorage.getItem('latestCommits'.concat(id));
        var username = gitInfo.Links[0].URL.split('/')[1];
        var commitList = [];
        var projetos = [];
        var repos = [];

        gitInfo.Links.forEach(function(link) { repos.push(link.URL)})

        if(localStorageCommits == null) {

            var totalCommits = 0;
            var days = [];

            $.get('https://api.github.com/users/' + username + '/events?page=1')
                    .done(function (response) {
                        response.forEach(function(r) {

                            if(r.type == 'PushEvent') {

                                if(!days.includes(r.created_at.slice(0, 10))) {
                                    days.push(r.created_at.slice(0, 10));
                                }
                            
                                totalCommits += r.payload.commits.length;

                                if(repos.includes('/' + r.repo.name + '/')) {
                                    r.payload.commits.forEach(function(commit) { commitList.push(commit)})                      
                                }
                            }
                        })
                    }).always(function() {                  
                        localStorage.setItem('avgCommits'.concat(id), totalCommits / days.length);
                    })

          
        }
        else {
            commitList = JSON.parse(localStorageCommits);
        }

        $.get('http://localhost:54173/Membro/ProjetoAutocomplete')
            .done(function(response) {
                response.forEach(function(i) {
                    projetos.push(i)
                })
            })

        //TODO: refactor meio alternativo sem setTimeout

        setTimeout(function(){
            commitList.sort(function (left, right) { return left.date < right.date })
            commitList = commitList.slice(0, 3);
            localStorage.setItem('latestCommits'.concat(id), JSON.stringify(commitList));

            $('#media-commits').html(localStorage.getItem('avgCommits'.concat(id)));

            commitList.forEach(function(commit) {
                $('#commits')
                    .append($('<div class="bloco-commit">')
                        .append($('<p>')
                            .append($('<a>').html(commit.sha.slice(0, 8)).attr('href', commit.url))
                            .append($('<p>').html(commit.message)))
                )
            })

            projetos.forEach(function(projeto) {
                $('#projetos')
                    .append($('<option>').html(projeto.label).attr('value', projeto.value))
                    .attr('name', 'idProjeto')
            })

        }, 1000);

        comments.forEach(function(comment) {
            var typeTag = comment.Tipo == 0 ? '<div class="tag-comentario positivo">' : '<div class="tag-comentario negativo">';

            $('#comentarios')
                  .append($('<div class="bloco-comentario">')
                    .append($(typeTag))
                    .append($('<h4>').text(comment.Assunto + ' - ' + comment.Projeto.Nome))
                    .append($(converter.makeHtml(comment.Texto)))
                    )
        })

        setTimeout(function() {
            localStorage.clear();
        }, 1000 * 60 * 10) // * 10

    </script>
}