@model FichaTecnica.Models.TelaDetalhesModel
@{
    ViewBag.Title = "TelaDetalhes";
}
<html>
<head>

</head>

<body>
    <h2>TelaDetalhes</h2>

    <p class="NomeProjeto">Projeto: @Model.Projeto.Nome</p>
    <table class="table table-striped table-bordered table-hover">
        <thread>
            <tr>
                <th style="width: 21%">Gerente</th>
                <th style="width: 16%">Email do gerente</th>
                <th style="width: 16%">Data de inicio Do Projeto</th>
                <th style="width: 16%">Nome líder técnico</th>
                <th style="width: 16%">Email do líder técnico</th>
                <th style="width: 12%">Total de membros</th>
            </tr>
        </thread>
            <tr>
                <td>@Model.Usuario.Nome</td>
                <td>@Model.Usuario.Email</td>
                <td>@Model.Projeto.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@Model.LiderTecnico.Nome</td>
                <td>@Model.LiderTecnico.Email</td>
                @if (Model.Projeto.Membros.Count != 0)
                {
                    <td>@Model.Projeto.Membros.Count</td>
                }
                else
                {
                    <td>Não há membros</td>
                }
            </tr>
    </table>
    <p>Membros do projeto</p>
   
    <div class="tudo">
    @foreach (var membro in Model.MembrosDoProjeto)
    {
        <div class="Cartao">
            <div class="content">
                <div class="imagem">
                <img src=@membro.Foto width="200" height="120" />
                </div>
                <div class="cargo">
                    <p>Cargo: @membro.Cargo.Descricao</p>
                </div>
                <div class="campos">
                <p>Nome: @membro.Nome</p>
                <br>
                <p>Email: @membro.Email</p>
                <br>
                <p>committed 28 minutes ago<a target="_blank" href="https://github.com/marcoskoch/ficha-tecnica/commit/4baa70bfaf1b1c9daf9175eae3fa2bcddeb0690b">ago4baa70bf</a></p>
                <p>Comentarios</p>
                <p>Positivos: 0 Negativos: 0</p>
                </div>
            </div>
        </div>

    }
    </div>
</body>

</html>

