@model FichaTecnica.Models.TelaDetalhesModel
@{
    ViewBag.Title = "TelaDetalhes";
}

<html>
<head>
</head>

<body>
    <h2>TelaDetalhes</h2>

    <p class="NomeProjeto">Projeto: @Model.Projeto.Nome</p>
    <table class="table table-striped table-bordered table-hover">
        <thread>
            <tr>
                <th style="width: 21%">Gerente</th>
                <th style="width: 16%">Email do gerente</th>
                <th style="width: 16%">Data de inicio Do Projeto</th>
                <th style="width: 16%">Nome líder técnico</th>
                <th style="width: 16%">Email do líder técnico</th>
                <th style="width: 12%">Total de membros</th>
            </tr>
        </thread>
            <tr>
                <td>@Model.Usuario.Nome</td>
                <td>@Model.Usuario.Email</td>
                <td>@Model.Projeto.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@Model.LiderTecnico.Nome</td>
                <td>@Model.LiderTecnico.Email</td>
                @if (Model.Projeto.Membros.Count != 0)
                {
                    <td>@Model.Projeto.Membros.Count</td>
                }
                else
                {
                    <td>Não há membros</td>
                }
            </tr>
    </table>
    
    @foreach (var membro in Model.MembrosDoProjeto)
    {
        <div id="@("Cartao"+membro.Nome)" class="Cartao">
            <div id="content" class="content">
                <div id="imagem" class="imagem">
                        <img src="~/Upload/img/@membro.Foto" alt="..." class="img-circle">
                </div>
                <div id="cargo" class="cargo">
                    Cargo: @membro.cargo.Descricao
                </div>
                <div id="campos" class="campos">
                    <p>Nome: @membro.Nome</p>
                    <p>Email: @membro.Email</p>
                    <div id="@membro.Nome">
                        commit
                    </div>
                    <p>Comentarios</p>
                    <p>Positivos: 0 Negativos: 0</p>
                    <a href="#">Visualizar ficha completa</a>
                </div>
            </div>
        </div>
    }


    @section Scripts {
        <script type="text/javascript">


            @foreach (var membro in Model.MembrosDoProjeto)
        {
        <Text>

                var model = @Html.Raw(Json.Encode(membro.LinksGithub));
                var commitList = [];

                model.Links.forEach(function(l) {
                    $.get(model.URLBaseAPI + l.URL + 'commits')
                        .done(function (response) {
                            response.forEach(function (i) {
                                commitList.push({ sha: i.sha.slice(0, 7), date: new Date(i.commit.author.date).getTime(), message: i.commit.message, link: i.html_url })


                            })
                        })
                    .always(function() {
                        commitList.sort(function (left, right) { return left.date < right.date })
                        commitList = commitList.slice(0, 1);

                        commitList.forEach(function(commit) {
                            var caminhoComiits = @Html.Raw(Json.Encode(membro.Nome));
                            $('#'+caminhoComiits)
                                .append($('<div>')
                                    .append($('<p>')
                                        .append($('<a>').html(commit.sha).attr('href', commit.link))
                                        .append($('<p>').html(commit.message)))


                            )
                            var oneDay = 24*60*60*1000;
                            var diaAtual = new Date();
                            var diaUltimoCommit = new Date(commit.date);
                            var diasDiferenca = Math.round(Math.abs((diaAtual.getTime() - diaUltimoCommit.getTime())/(oneDay)));

                            if(diasDiferenca > 1){
                                var caminhoParaFichaMembro = "Cartao" + @Html.Raw(Json.Encode(membro.Nome));
                                $('#'+caminhoParaFichaMembro)
                                .addClass('mudarCorFicha');
                            }
                        })
                    });
                })



            </Text>
        }
        </script>
    }
</body>

</html>

