@model FichaTecnica.Models.TelaDetalhesModel
@{
    ViewBag.Title = "TelaDetalhes";
}

<html>
<head>
</head>

<body>

    <div class="imagem-projeto">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAdRklEQVR4Xu2djbXeNBKGRxUAFZBUEKgAqIBQAVABoYKFCoAKllRAqABSAaGChQogFWjPe5Evvt+1rd8ZSfbrc+7Jsp8s2aPR49FoRnJycHnvPxCRj0TkuYi8KyL4b16UQAsJ/Coif4vIKxH52TmH/83LWAJuq70w8L8TkY+Nn4fNXVcC34jIDwSBrQI8AoD3/isR+d72MdgaJXAnAVgBnzjn3lAeNhJ4AADv/X9F5AubptkKJbArgc+cc5ga8FKWwD0AvPcvRARmPy9KoLcEaAkY9cAdALz3mOv/YtQmm6EEUiTwh3PuaUpBlimXwAIADH46/MrlyDt1JPClc+5HnapZKyTggsf/N4qDEhhQArQClDsFAIDHH55/XpTAiBL4kKsCet0CACAgA8E+vCiBESXwtXOOy9JKPQMA/E9EnijVz2opgVoJfOucQ5AQLwUJAABeoV5WSQm0kgDChBGKzktBAgSAglBZZVMJvHTOMTitqUj/rQwAQNjlM6X6WS0lUCsBTgFqJXhwPwCAddbPFdtg1ZRAjQQYFlwjvci9AADmVz8ptsGqKYFSCbx1ziENnZeSBJZIwD9E5H2lNlgtJVAqAc7/SyWXeN8CADhZkAnIixIYRQJvsQGNcw4fJ15KElhnAzIgSEnIrLZIAgwAKhJb3k1rAGCuBQhwRSBPhizdXgI0/dvLdLPG2w1BCAEjwbOZXQlw2c9QOfb2BGSCkGEnsKk7CWDO/9w5ByuUl5EE9gDADUKMOoDN3EvgtXOOe1IYK0QrALwUEW7cYNx5EzQHSzLVp0QAdOjQVgDgvK1D543eZGaqOQHQoUMJgA5Cv0qTBMD4PU0AjN9H0z4hATB+1xEA4/fRtE9IAIzfdQTA+H007RMSAON3HQEwfh9N+4QEwPhdRwCM30fTPiEBMH7XEQDj99G0T0gAjN91BMD4fTTtExIA43cdATB+H037hATA+F1HAIzfR9M+IQEwftcRAOP30bRPSACM33WnBoD3HvsbfLo6+QjnzuOgCW4zZaCbBICBkCubOC0Awm7H2Odwa1fZ751zX1fKjrdHJEAAjK8ipwRA4lbnPzrnvhy/i+Z9QgJg/L47HQCC2Y8DT1P2k/+EO9DoKSkBoCfbVjWfEQA5W5zz4MlWmrRRDwGgKNxGVZ8RADn7Gf7tnHuvkSxZzY0ECIDxVeKMAMg638A5tymD8btu/CckAMbvIwKAAFDT0tkA4L3/QEQ+wolEq6XjtXywjIzTtPGHLczw31NfBAABoKbAMwDAe/9ERL4SEfiOUhzHa3m9EpFXzjlsijvlRQAQAGqKOzIAwtf+OxFpsRU5Asu+mREEBAABcCkAhGXi/4jIC4UXx9TgS+cc/p3iIgAIADVFHc0CCF99RIdijq95vXDO/aDZQKu6CQACoJUuPapnJACEwf9LwTy/VD5TRJoSAARAqYJH7xsFAB0G/yKb4SFAABAA0YFcWmAEAHQc/IvYfnDOafgbSrvlwX0EAAHQRJG2KukNgODwg9mvPeePyfAz5xyWDIe7CAACQE0pBwBATli4mhxEBAFDT0cMHCIACAA1xe8JgGD6/6b2cvkVDzkVIAAIgHxVTryjMwBg+rcI8kl826RisAKG2o2KACAAkjS3pFAvAHjvMfABgNGul845hBwPcxEABICaMnYEwI8i8rnai9VV/N5IvgACgACoU+eDuzsC4C/DgJ9c+SFUGIAa4iIACAA1RewBgIHN/0XOQ00DCIBGAAhrzs9CL7+dKSFEiwCdAPCNiCDZZ9RrqF2oCIBKAISBj7TSW+cO1n5h7g0ZAGIxOjoBAPLGWRAjX8P4AQiACgAkRpoNuf5rMTo6ASBrSzgLOWy0Mcxu1ARAHQBSvc3DhoJqDoBOABjZAbiImwDQUrxMpZPSTUHDVlI4fyDleuOc+zCl4JnKZPYF9tirDtzx3vsJZEgAaHVSptLVACDn/IHidrTkZFFvZl8QABadctMGpwCFUwDvfa63+cOrrQx0AgC241pWYzoMqaQmaQEkiamgUKbSFX+ZCwAwTKcXiLXolsy+aGUBzOAEHOZjQAvAzgIgAI4x0goAo6QA775tqd+piMKRmwgAAkBDr+7q7GQBZPlm1F5+v+LfnXO9Nyi5fzoCgABQGwOdAICDPlJXZ9Te/aDioeJCCAACQG0Q9ABAsDxGdgQOM/+HrAgAAuCMAMAmnAjPHu360zkHC2WYiwAgANSUMWzL9Txsyokgn3cOGmviBAwWAM74w847R+2pvfdBxUOlAtMCgAlEAJgNhBA9CQcYYLCcxLu03wwAAQK5cRrachju608AEADaSh+tP1gJdyHAzjks4TW5QqIWfAHvN6mwvpIh80E4BZjMAghf0bVS48sy1EaT9WOlTQ0DbQ7ys3MOU6HhLgJgAgCEQY9NLvCl3HIiYe8BfO0QBYd/YU7j/7v85b3vHRj0J6Y7o/ZHFwB470FDbNq4KDO+YFgfhQJXXZlLT0P7ACqPsoZM76HgnHtdJdiJb/bep6Ztt37Lt4D2yDkgpgAICo3jmffMIXTU1zW0PAsAwtz4p50vfqmirq0ERKRNc4596Qsv93nvrXcKGn7wmzsBEzuh6kTVMwDA+EBLWF3L1AFQOK0/wdASgNn/fAbAmlkAmQ6Z4sSZ2QGQuM1Y7Qfx6P5l6nBnLZxt6uC9R64A/AJaMQI/Y3/IGitWs3Nv67YEQM48rHjr5BMAYLT1a+gMYLBMH6afOgSnKvTxo4aDDV/9F7NtAmsJgJw87eKgkJkBEL7+SGRBJNvo1/RTh2CVImy4ZhdhDHxA+9UsX/21YhEAAy0Deu9HjWFPgdG0U4dgEcAxjb8Uq+D34DfBoK9euUoRrlYZAmAsAORYSVo60bLeZeqwxCZMseoQnLCwwvCHkGXA7c45OvuA7+kDyFHuq04BZtjRthYQy4oD/j31qkOtoCzupwUwlgVwBQDc6jUiFm+hwChGi9FvuR9ApnOOFoCRAgzazJRTh0FlefhYtABoAcyit5w6KPQUATAWAOBoGiV9VUHdmlbJqUMDcRIAYwEgJ1iqQfefrop7b33imy1Ll0jXLQqB9t4jhmDZ4CSx2UfF7mIqekRdEgBjAQDr0EgA4mUvASQLIREtCQTee6RnI26jZdAW2v7eOfeD1esTAAMBAJ3uvec0wEr7t9s53LdPKUvz9kngBMUOQkkwqhEXATAeAGgF1Gh0m3s39+43ztKEjwNJcarBUwTAYAAIVgB9AW0Gcmktm8vQmRmtpW2v7wMEcI6AmiVAAAwIAEKgxdipquNb5xwSfB5cwQL4rarm/JvhHPwk/7a0OwiAQQEQINB7P7s0LTpfqU0AhD7pEa2ptqMwATAwAILCYYkJX6OULLXzDcU+b7S7IU0nJ62aFUAADA6ARf9Xp+wACISBLhh2z+/LDGlv+ZQqZwoSAJMAYGc+ugSgIGX1WUttu3JdR6dFGe4reNsFKqcKEwCTAmADCEvu+gKF2Fl8Vx7jR+9+eISX977Xlm1/O+fea91pBMBJALClGJGz+Frr0lnqO8xEDWda9IrWbH64KAFwYgDsQGF9OCenDo+FdLghbYdYgPUTNncGEgAXAwCnDlFDZXcJcOWQ7bEUuDT/tGVgEAFwcQBEpg6LtXClVYfomrv3vicAooCKIm5VgAAgAJL0JSxDrqcPZ111iB5K03EpEH31h3PuaVKnJRQiAAiABDXZLhLmw+ulyOk3MzlaAlxNAazPGbztgKiVktqpBAABkKor0XKrVYdppw6JAOi1FLj0QfHJWbedSAAQANGBXVNgsqlD0ma04XxBnHLd83qvxUlEBAABYK7EA08dsDXY3tH193LqvBS4PAd2L0KyWNVFABAAVQrU4uZwJuI6ghFTCK3Te48eOcnDHqY6OMOx5/XGOfdh7QMQAARArQ6p3L+aOiz+BItVh+RIu85LgYvMqxOECAACQGUAa1QaTO/1UmTrVYfoEuDyXt57bNVlAaUjUVY7AwkAAkBjrJrUGaYOAAL+vmvQaHKUXedYgOVVqxOECAACoMG46V9FC5M8ZQlwZQH0XgpcHiV52rLVSwQAAdB/9DZ4ggYAwEnFsCSSro5pwbfPV5UgRAAQAEkKP3qhBgBIigFYWQBYtfhlELkkT11un5cAIAAG0eG6x2gAgKQlwBUAYC1Y7xC8J6Ti3YIIAAKgbuQNcrc1APDaDdpsJb3iBCECgABopYSP6oGXvkW4asoDNhiMyUuAKytgpGPcihKECAACIGV8FZUJS2VYK8ea+d0JuCICZxtOvGl6NQBAdlDNIEuBixyTwpjpA7iRQM7Sz/rWAi9w9hem6QjpUNnBAMGXEzAAGBDS+rr28WoBUKIHHXcI3hNXdoIQLQBaALVjb/f+zC9ksSOrwXz8cCfgvRcs+AioyTpUnJ0gRAAQAGpKmQmArGW424eutACK2u68Q/BWv2U7AwkAAoAAECmKqR8kLfi2/7J8GQQAAUAAiGTFANz4gnpuELrVd1kwIwAIAAJApGgJrYHvQUP2WGFBZGDSSgsBQABoKOFdnRP5AIpXaDLfUU3WNxUnJwgRAASAmlJmDo4iR9zy8JVOwOzls1W7vXcI3uq/5N2CCAAC4PIAKIkBWAFglLTg235MShAiAAiAqwOg1vL4QkR67xC81YdJcRUEAAFwdQAUhdCuLICR0oLXfZm0W9AZAZA1Jys1/wqiwJJMMrXR2KHiSXwAxUuAwdH5RER67xC817vR1Q1LAOQMzGIqZw7MrF1gbtZ/s0y/UtB0GLfNmpwEAK+cc5+VvnTYvXiUfQFuXyM6jiwBkDNgkpcxbt84s0OS5klbyhE2pPwrUXGiHZFYz1TFJgEAZPqjc+7LXOGGUGDM/9/Nvdew/KHlaQaAYC6lbKVc/FVezcuQaRY70vqtiDxJDZjYgUCqB7h4ndlQUZo3NREA8O7QTfRTUgCN9/4rEak9mednEfm0ueAfVniYIGQNAGyjhMG5d+rLnyLy3DmHzii+wtcZ7ezt247B/3FtOwFqP4rI5wcPW2zNFAtgkBsnA8ACAfTXof557/HVh0Vbe2Hq8VNtJZH7DxOETAEQBgzMJZATZ7AtIMCAhI/gRSqBY0ILEHgROmp9gMRLEfnGOYec9CZXOCwS1sC6HdD9e+ccQHTJa0IAoJ9gAcB59qjfgk5hwMLz3+L6JOjn0QekSTt7emgOgPXbhDPWpOVg3JJW6DiY+1WWRawnrNqJPccov08KgEV8Dyy3oKsY/Mlbhyf0AwCAD6K2FbCbINQVAAkCYpGJJTA5ACB5WHBfB8cytgBv7ey78w157y32FtwMdyYAJh5goz/6CQAAEWMq0Mrkv+2yBQCpzuSaLt/0RREANSLlvYcSOAkANHt5AYBFMNFmghABoNm9F6+bAIgqwP3ysPc+J1AuWvFOgUe7BREApaLkfVEJEABREa0BkBMoF614p8CjwDcCoFSUvC8qAQIgKqIHAWLeeyxB7sXIRCtLKPAoQYgASJAai5RJgACIyu0WAIiPQYSh5vXAGUgAaIr64nUTAFEFuAWAxYGjD/JSCIBoH7FAqQQIgKjkHuWIeO9T8mWiFUcK3CcIEQC1ouT9uxIgAKLKsQUAC2fg/R4IBEC0j1igVAIEQFRyWwBAtGFqmnm0gZ0C9wlCBECpCHlfVAIEQFREm2niRoeO3u0W1AoAiGVull0XFRsLzCIBOLVS4+drN+cc7YSelD7aA4DFPoN3CUKtAJDysixDCRxJgABYSccsQWirRwY99JDD59wSIAAeAgB7WXyn3OVf0gJQljCrT5YAAfAQABYJQi8JgGT9ZEFlCRAANwI2SBB6QwAoazWrT5YAAfAYANg2T3W3oD0AWIQkJmsGC15CAgTARjdrJwhtAgDPod3wJVSaL5kjgd1961IqqTwdOKUJjTLR7eK995oJQm+PABDb7lpDIKzzuhKIHmN1JJoTA0DTGfj6CABoGIkJmvnJ11V3vvlaAtUnJ50VAMEa10oQ+noXAKHh2EEeVGNKoFYCr8NhMEkn8uw1dnIAaCUIPT0EQIAAQjnxAPBIwipYH35R2/m8/5oS+D2EjuNgTkw1q68zAyCMw9Zbh++HAlf3hlEFBuukJsd6ZSbNlEjX5D1KHqzVPRcAQMslQZzE9QEO5IlaAK06SKMe7z3SJlOTTUoe4fBk1ZIKt+7x3muHfVZ52Fu9p2Y9ZwdAsAJarQjcO1ynBUDmMeAluvencw5THvXL4F0OD4hUf0GDBq4AgACB2tW5+J6ABv1V3YT3Xvs0FdOvpkHchYk1U92xhRVcBQABAiUWI8z+L7AHwFrEM1sAOLLpo0J9Sbmtal06pYF1GQN/xuE58bnPO1r5KwEgQADWKT6CsZOFMfAxdcA5h49WWmYGgPYGEJuHKWopfjhiHOfOa13Va+1aD9ai3kkBUA3lcCI1NhDB33JyMQY6Ygd+jR1PPyUAvPctPaJb+ve7c67lMdBRHQ/HT/8vWrC8wKNDIcqrGu/OSQFwvzlnL4nOCoBW3tA9uT86Qsmigwx2gXl0NpzFe1m0QQCUSXlWAPy2MnfK3vz4rmiShkajBptBdv/iKMlt1uzV7v0xHQDCnEd122TnXBe5GExtqlJuNQZvizon3sLOdKVpS9ZdFL2m0w2cZd0GiQXcRMTUuVnT16n3TgyAbrq2yHZGANQGQsT0qtozG2vg6HeDo6FMlzdrZJF6LwGQKqnH5WYEADzlmhF6XR1lyhtAQAO6ODjLVTR+p8HUKf4QZSVoAeTIzWCp7K1zTjO3IPq6Bl+zN865D6MPMlEBg6hQLWkQADmSNUiaGSJYxmBJ61RhwRMDQHo5nKf0ARiEyw6RNsv04JzPwt3+ldp5IXkPlFGaAMgQ1lnSf2OvbGDpdF9+iskg53cCIEdaD8tO4wQ0SJk1S/+NdZfBu54qPdjAYop1WfHvtAASRWdA+aG+igbpwV1XOxK7PamYMgCwZ6Fm1mnXfpjJAjhV+m9Msw38HV3jHWLvn/O7MgB+EJGvcp4ns2yXsPPpnIAGnvGhIuQMIh6HWPHIHCybxZUB8K2I/KfFc+7UQQDEhGsQ6GGe/pvwzpoHQqD506QHKzuHCYCYsmr/ftXoOIP04K5fn1Z6o2wdfqZ8QGfXpecpfADe+1Om/8YGANODYxL653dlAHwiIsg/0ToPo2tK8PAAsMiQ670Us6fmBlOf7qGoaUP8uJQBABBopLUSQAAcda+BM2zYQWABv9nTgw3yQ2ABEAAtSF1Sh4EZPPRyGNODo19/bIb5S4luJd7zNEwBtCyArtmZM0wBTp3+G1PCqzpAY3JZftfOnsT0UDkmo6sFOjQADMy77um/MUXXVnBsHz1zerC2fAIANJONCIADJ1jJCSixMbX+fYpgGGUnF+QxbXqwtqOUAMgZTo3LKpteeNqua7Cp4lKOdJtGDlvy0s4RIQBStVShnHKE1zRfPqYH7yuXMgDuzHPlNrpuCjKsD8AgJXaY9N8YOw1kMW16sPLgXACgutLQMw5lZABoOl4w5oZK/02AAM57eydWruL3rmmppc9NAJRK7p/7RgbApdJ/Y91o4A8ZOh7iwFGsqSe0AGKKqfW7ged7qPTfmBwNIiKnWBG5lZOyg/QuSEd7qbHnKsyQFoD20o6IDJf+mwAApgdvCEkZAHdx+gYh2d2yMkcFwClP/40N8tjvTA9+LCELAKBVZYuUAFh37VXTfxMAoH0sWtfMtNj778QBaIaK38uDACjpnYJ7DMytruuuBSK5v8VgatQ1LLVENsoD8z5QTLmdbuc1DjcFMHB2Tafky8CwgONs6cHKA/PeNFfepbmb5TUiALTN3CmXu1YQeCMiz0q+lon3dPsaJT7fg2KGANBcbiQAVgquOadDM1MGvKzkQwdpEIaBRbS2AAiAEkLn3MP037i0DNakp0kPNpDF/cfCarUhrgFtSww1BTBIepky2GUj+MW3VYNHtU2RHqwNgHWMvjIAuvmlRgPAKxH5VFG5p0j/jb2/sjKi+SnkZAwAzdwUAiAEW/wlIu/GBkDF71N82WLvZ2ApTZEoRQDENCX++zAWgEHK6zTpv7FuM5DVFOnBypmAD+JFlNuiBaAsYIypKb5qscG/Wg24fHqwss48GJTKbXU7pm0kC0BzmQXjZqr17RgImB58F59vNi/XjsLstSnISADQ9mxPlf6bAIAvROS/sXIVvw+/YmIMgFPuCjQEALTpOmP6b2zgGsRMdDNLY+++mgZprhrdTgEIgNSOyS3Hwy9yJfZP+aunBysvhz44sUd7xaHXpiCjWACXPP23bNj/e5fBsWndYtRTZKMMgAfvbmBxddkToDsADOK5p03/jQ0Cg6lTt+Wp2LsHC0jTcfwIflaJRynv3qrMCADQdmYNrcQ1HWkBz5HTg733moljBECNcqbea2DGTp3+G5PjlU8PVv4iPwqHVm7vslMATYpj/Eyd/psAgMumB1sPyDNuCtJ1CmDgWBn+9N/YAI/9buCdHjY9uAMATH0Osb5v8XtvAPD03wa9qDwQ8ITDJVEZ+D8emeSWqw4N1CKpit4A0AzkgACmSGtN6qmDQsqKOaQcDSwfAqBWMWP38/TfmITSfr9ierA2ALZi85VB2yX0upsFYJDSepr03xgGDGQ5XHpwJwBoOly7LFf3BIBmJhfGzKnSfxMgcKn04E4A0NTZywFA06OK8XKq9N8EAGj7U4aKp9Ce9uxMAQiAmCKm/m7guT5V+m9MrgYHqnSZo+69t3Iq8ObhscptdplmdZkCGMSwT3f6b2yAx343iKkYKj1YeTBumuPakO2xKUgvAGg6UzBWHqRyxgbPWX6/UnpwJwCcbk+AXgBg+q8CdQzyKoZJD1Z+1z0LgACo1VuDCK7Tpv/GZG8wteriqd56b+U1+c0VJO2Vhx6Zl+YWgPY8SkSGUdLYgG39uwVceyhpBwBsWjoG8RbmGYE9AMDTf1uP/FV9V0kPVrYAdqc6yqtXlwAA0391AXAJB6v3XtOPRABo6KjBUtXp039j/WIwTx0iPVj5S7wb9KTc7rktAO3oLREZKlglNli1fldWUjx29/Rg5XfcHYjK7Zqvspj6AAxOs7lE+m8MHMrzYzTfXc7KA/EIAJoh7KcHAE//jY3eBr8bWFrdE60IgAaKIiJmFoDBEspl0n9jXW8g6y5x68t7G/g5aAHElCz3d+XQTTxO969Srkw0yytvYIlH77bZqjYAjmLyladX5j4sSwtAe/3/Uum/MXgY+FvMPdZWFkAEAJrLrOZBbJYA0HSeQDculf6bAADtA1fMHVaDAOBUewKcBQCXS/9NAMATEUHQldZFALSXLC2AQpleMv03Jivl9OCzAuDwY6Kcy3JqAGjOnbrNR2ODsOfvyimz3WSuHFF66IhTdkCaQ9VyCqA1J718+O8eZDTTg3vsXrN+T0Xr5nDvQ+WMS3NHtiUA3hWRP0TkncZfRS7/HQhUaTnQfLnq9hW991oWZdSZrGRZdfmQmQEAHajUad3WoxuDTKU6pfiLbub/aiVAw8mZ9DFRmgaYm/+QpTUAWlsBSR2mMrImqTSYrC0tr+5f/xUEWloBb0XkA+ccZBW9GsdZoO0nzjmc7WB6mQIgWAHPReSnBm/5u4h83ENoDZ7dtIqGX6xuinrg53gjIs8aCDQrwSmAFW2/36DtbhaVOQACBGodglBEDH50AK8ECTRYvhpS5mEgIsisBgJF5nfIuUDbNX6tLPAkdHVWkS4AWEEAJlyu8Pjlz+rifwuHVQGEZJfI/ItRgRsggJORPsoUDaD2wjkHmRRdYUkSbecCCG1Dpri329UNAAEC8AkAAp8nSOBPlHXOoTyvQgmEwZIqcygpZI7w1+GvYOXgWVPM8pci8k3qnD/28iEFG22nwBVtAzzmc/7b9+gKgOVhglJiWgD/ALy76EAoH0x8OGV+raF0rPOu+PtK5tjrHjJfvmCwsCD3V72/TqX9Enwe0KUPwh8G5etQH764eLckZ1/OMwSZQp6LHi+6DJmivaXt7gN/ea//A0khdiw0/USVAAAAAElFTkSuQmCC" />
            </div>
            <div class="col-sm-8">
                <p class="titulo-projeto">@Model.Projeto.Nome</p>
            </div>
        </div>
    </div>
        
    <table class="table table-striped table-bordered table-hover">
        <thread>
            <tr>
                <th style="width: 21%">Gerente</th>
                <th style="width: 16%">Email do gerente</th>
                <th style="width: 16%">Data de inicio Do Projeto</th>
                <th style="width: 16%">Nome líder técnico</th>
                <th style="width: 16%">Email do líder técnico</th>
                <th style="width: 12%">Total de membros</th>
            </tr>
        </thread>
            <tr>
                <td>@Model.Usuario.Nome</td>
                <td>@Model.Usuario.Email</td>
                <td>@Model.Projeto.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@Model.LiderTecnico.Nome</td>
                <td>@Model.LiderTecnico.Email</td>
                @if (Model.Projeto.Membros.Count != 0)
                {
                    <td>@Model.Projeto.Membros.Count</td>
                }
                else
                {
                    <td>Não há membros</td>
                }
            </tr>
    </table>

   <div id="membrosProjeto">

   </div>
    
    
    @section Scripts {
        
        <script type="text/javascript">

            var membros = @Html.Raw(Json.Encode(Model.MembrosDoProjeto));

        </script>

        <script src="~/Scripts/members-access.js"></script>
    }
</body>

</html>

