@model FichaTecnica.Models.LoginModel
@{
Layout = "~/Views/Shared/_Login.cshtml";
ViewBag.Title = "Login";

}
<div class="destaque-login"></div>


    

@if (ViewBag.UsuarioLogado != null)
{
    <h4>Bem vindo @ViewBag.UsuarioLogado.Nome!</h4>
}
else
{
    using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal top-buffer", role = "form" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row login-content">

        <div class="col-sm-8">
            <div class="logo"></div>
        </div>

        <div class="col-sm-4 pull-right"> 

           

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Senha)
            </div>

            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-6">
                    <button type="submit" class="btn btn-custom">Entrar</button>
                </div>
            </div>

            @if (TempData["MensagemErro"] != null)
            {
                <div style="margin-top: 10px;" class="alert alert-danger mensagem-erro">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Falha!</strong> @TempData["MensagemErro"]
                </div>
            }

        </div>

    </div>


}
}


